<div class="jumbotron mt-4">
  <h1 class="display-4">Proyecto 1 Software Avanzado</h1>
  <p class="lead">SERVIDOR ESB</p>
  <hr class="my-4">
  <p>Por el tipo de arquitectura seleccionada, se ha decidido utilizando un estándar (pendiente de definir) para los servicios web que deben ser publicados y consumidos entre los mismos microservicios.
Para proveer una integración más continua así como facilitar la comunicación, se ha decidido implementar un ESB por el cual pasarán cada una de las comunicaciones entre los microservicios.

  </p>
</div>